
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sofia&family=Yeseva+One&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family:  Sofia , sans-serif ;
    font-size: 22px;
    background-color: #2596be;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: white ;
    text-decoration: none;
    
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
   
}

#hero-box{

    grid-column: 1/4;
    grid-row: 1/3; 
    margin-top: -100px;
    z-index: -1;
}

#hero-msg {
    
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height:725px;
}


header{
    background-color: #9ca4e0;
    display: grid;
    grid-template-columns: 150px auto;

}

.icon{
    padding-top: 10px;
    width: 80px;
}

nav a:hover{
    background-color: #123 ;
    color: steelblue;
}  

.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.book , .join{

    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #cbe5d3;
    color: #2596be;
    text-decoration: none;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#2596be ;
    color: rgb(19, 8, 175) ;   
}

#background{
    background-color: #6491e6 ;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg{
    padding: 35px;
    line-height: 1.5em;
    background-color:#9ca4e0 ;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    font-family:  'Great Vibes', sans-serif ;
}

.msg p{
    padding-bottom: 15px;
    font-size: .8em;
}

footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #cbe5d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer .social img{

    padding-top: 15px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: rgb(15, 197, 31);
}
.home-title{
    margin-top: 10px;
    font-size: 2em;
    font-family:  'Yeseva one', sans-serif ;
    color: white;
}

h2{
    
    margin: 0;
}

h4{
    
    /* color: grey; */
    color: gold;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #747474;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 20px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

main section img{
    box-sizing: border-box;
}

.mountains{
    margin: 100px 0;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card{

    grid-column: 2/4;
    grid-row: 2/3;
} 


.camping-card{

    grid-column: 5/7;
    grid-row: 2/3;
}


.rapids-card{

    grid-column: 8/10;
    grid-row: 2/3;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
   
}