@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Parisienne&family=Satisfy&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.contenair{
   
    overflow: auto;
    display: grid;
    grid-template: 10% 8% auto 10% / 1fr 1fr 1fr 1fr;
    gap: 5px;

}

/* Header  -  navigation bar  - links and logo */

header{
    font-family: satisfy, serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    background-color: #123;
    grid-column: 1 / -1;
    
}

.logo{
    width: 30%;
    border: 3px black solid;
    border-radius: 30px;
    
}

nav{
   
    display: flex;
    width: 60%;
    justify-content: space-around;
   
}

nav a, .footlinks a, .text a, .social a{
    color:  whitesmoke;
    text-decoration: none;
    transition: 1s;
}

nav a:hover, .footlinks a:hover, .text a:hover {

    letter-spacing: 5px;
    color: #48cae4;
}

/* .hero_baner and hero message */

.hero_baner{
    margin-left: 80px;
    margin-right: 80px;
    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    z-index: 0;
}

.h1{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 1;
    
}

.h2{
    font-family: Parisienne, serif;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    text-align: center;
    color: #0d10da;
    padding-top: 10px;
    z-index: 1; 
    
}
.h2 p{
    font-family: satisfy, serif;;
    font-size: 1em;
    color: #023e8a;
}
.hero_baner img{
   width: 100%;
   height: 7em;
   transform: skewx(-10deg);
   
}


/* main and all six blocks of images */

main{
    padding-top: 70px;
    background-color: #123;
    color: #ffff;
    grid-row: 3/4;
    grid-column: 1/-1;
    z-index: 1;
    
}

.contenair{
    margin: 80px;
    display: grid;
    gap: 20px;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
        "m s l"
        "n p k"
    ;
   
}

.contenair h2{
    color: #48cae4;
    font-family: "Times New Roman", "Dancing Script", serif;
}

.contenair p{
    line-height: 1.5em;
    text-align: start;
    font-size: 1.2em;
    font-family: "Dancing Script", serif;
}

.contenair img{
    width: 85%;
    border-radius: 50px;
}

.contenair img:hover{
    width: 85%;
    border-radius: 50px;
    box-shadow: 5px 2px 3px 5px blue;
    
}

.block1{
    grid-area: m;
}
.contenair img:hover{

    transform: scale(1.5);
}

.block2{
    grid-area: s;
}


.block3{
    grid-area: l;
}

.block4{
    grid-area: n;
}

.block5{
    grid-area: p;
}

.block6{
    grid-area: k;
}

/* Footer - social media links and icons - copyright text */

footer{
    background-color: #123;
    font-family: Parisienne,satisfy, serif;
    font-size: 1.2em;
    margin-top: 6px;
    grid-row: 4/5;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    color: #48cae4;
    margin-left: 50px;
    width: 25%;
    
}

.footlinks{
    display: flex;
    width: 50%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.social{
    margin: 0 auto;
}

.social a{
    margin: 25px;
    width: 25%;
}

.social img{
    width: 2.2em;
}

.social img:hover{
    transform: scale(1.5);
}

/* media query to make the webpage responsive on small divices */

@media screen and (max-width: 3416px)  {

    body{
        font-size: 3em;
        margin: 0;
        padding: 0;
        display: block;    
    }

    header{
        width: 100%;
        height: 10%;
    }

    .logo{
        margin: 25px;
        width: 25%;
        border: 3px black solid;
        border-radius: 300px;
    }
    
    nav{
       
        display: block;
        text-align: start;   
    }

    nav a{
       
        padding: 30px;
    }

    .hero_baner{
        width: 100%;
        height: 10%;
    }
    
    .hero_baner img{
       height: 15vh;
       transform: none;
    }
    
    main{
        width: auto;
        height: auto;
    }
    
    .contenair{
        margin: 50px;
        display: block;
    }

    .contenair img:hover{

        transform: scale(0.9);
    }
    

    footer{
       
        width: 100%;
        height: 15%;
        display: block;
    }

    .footlinks{
        width: 60%;
    }

    .social, .text{
        margin: 80px;
    }

    .social a {
        display: inline-block;
        margin: 0 auto;
    }

    .social img{
        margin: 0 auto;
        width: 2.2em;
    }
       

}

/* The End. */

/* seconde option */

/* .block2 img:hover{
    transform: perspective(9cm) rotateX(-2deg) rotateY(3deg); 
    transform: scale(1.5);
}

.block3 img:hover{
    transform: rotate(3deg);
}

.block4 img:hover{
    transform: scale(2);
}

.block5 img:hover{
    transform: scale(2);
}


.block6 img:hover{
    transform: scale(2);
}
 */
